@model BlogCreateViewModel
@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yeni Blog</h1>

@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Blog Başlığı");
    @Html.TextBoxFor(b => b.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogTitle)
    <br />
    @Html.Label("Blog Resmi");
    <input class="form-control" type="file" asp-for="BlogImage" />
    <br />
    @Html.Label("Kategori");
    @Html.DropDownListFor(b => b.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
    <br />
    @Html.Label("Blog İçerik");
    @Html.TextAreaFor(b => b.BlogContent, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogContent)
    <button class="btn btn-info">Kaydet</button>


}
