@model Blog
@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Güncelle</h1>

@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
    @Html.Label("Blog Id");
    @Html.TextBoxFor(b => b.BlogId, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogId)
    <br />
    @Html.Label("Blog Başlığı");
    @Html.TextBoxFor(b => b.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogTitle)
    <br />
    @Html.Label("Blog Resmi");
    @Html.TextBoxFor(b => b.BlogImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogImage)
    <br />
    @Html.Label("Blog Küçük Resmi");
    @Html.TextBoxFor(b => b.BlogThumbnailImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogThumbnailImage)
    <br />
    @Html.Label("Kategori");
    @Html.DropDownListFor(b => b.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
    <br />
    @Html.Label("Blog İçerik");
    @Html.TextAreaFor(b => b.BlogContent, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BlogContent)
    <button class="btn btn-success">Güncelle</button>


}